kbd {
  border: 1px solid hsl(210, 9%, 75%);
  border-top-color: hsl(210, 9%, 75%);
  box-shadow:
    0 1px 1px hsla(210, 8%, 5%, 0.15),
    inset 0 1px 0 0 hsl(0, 0%, 100%);
  background-color: hsl(210, 8%, 90%);
  border-radius: calc(4px);
  color: hsl(210, 8%, 5%);
  display: inline-block;
  font-family: "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 11px;
  line-height: 1.5;
  margin: 0 0.1em;
  overflow-wrap: break-word;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 hsl(0, 0%, 100%);
}
